<h1>Poznaj Krukowate</h1>
<p class="mt-3"> 
  Strona poświęcona całej rodzinie krukowatych. 
  Są to jedne z najinteligentniejszych ptaków, sroka jest często uważana za najprowdopodobniej
  nainteligentniejszy ptak na ziemii. Przejdź do strefy wiedza by dowiedzieć się więcej, sprawdź
  ciekawostki oraz zagraj w grę Memory,
  w której odkryjesz zdjęcia kruków - największych ptaków z rodziny krukowatych!
</p>

<p class="mt-4">
  <a onclick="showSection('info')" class="btn btn-lg btn-light fw-bold border-white bg-white">wiedza</a>
</p>