<div class="container mt-5">
  <div class="row">
    <div class="col-lg">
      <h3 class="mb-3"> Sroka </h3>
      <div class="mb-3" id="myimg" style="background: url('https://optimise2.assets-servd.host/steadfast-tern/production/magpie_2023-03-05-092819_dmoz.jpg?w=1200&h=900&q=80&fm=webp&fit=crop&crop=focalpoint&fp-x=0.5&fp-y=0.5&dm=1678008499&s=6065f7aa610404ad0e6f8d6cde561da2') top;  background-size: cover;"></div>
      <p></p>
      <div class="mb-3" id="myimg" style="background: url('https://www.lyricbirdfood.com/media/1704/black-billed-magpie-kojihirano.jpg?crop=0,0.023333333333333327,0,0.1945238095238096&cropmode=percentage&width=700&height=365&rnd=132743519340000000') top;  background-size: cover;"></div>
 
    </div>
    <div class="col-lg">
      <h3 class="mb-3"> Kruk </h3>
      <div class="mb-3" id="myimg" style="background: url('https://www.nps.gov/articles/000/images/Corvus-corax-NPS-Kent-Miller-Alaska.jpg?maxwidth=1300&autorotate=false&quality=78&format=webp') top;  background-size: cover;"></div>
      <p> sjkdfsjf f sdhf sdfhs dfsdfsdf sdfsd fsd fsfd sd fsd fsd fsd fs fgfs gfd gfd gd hdhg hdg dhg 
      sjkdfsjf f sdhf sdfhs dfsdfsdf sdfsd fsd fsfd sd fsd fsd fsd fs fgfs gfd gfd gd hdhg hdg dhg 
      sjkdfsjf f sdhf sdfhs dfsdfsdf sdfsd fsd fsfd sd fsd fsd fsd fs fgfs gfd gfd gd hdhg hdg dhg 
      sjkdfsjf f sdhf sdfhs dfsdfsdf sdfsd fsd fsfd sd fsd fsd fsd fs fgfs gfd gfd gd hdhg hdg dhg 
      sjkdfsjf f sdhf sdfhs dfsdfsdf sdfsd fsd fsfd sd fsd fsd fsd fs fgfs gfd gfd gd hdhg hdg dhg 
      sjkdfsjf f sdhf sdfhs dfsdfsdf sdfsd fsd fsfd sd fsd fsd fsd fs fgfs gfd gfd gd hdhg hdg dhg 
      sjkdfsjf f sdhf sdfhs dfsdfsdf sdfsd fsd fsfd sd fsd fsd fsd fs fgfs gfd gfd gd hdhg hdg dhg 
      sjkdfsjf f sdhf sdfhs dfsdfsdf sdfsd fsd fsfd sd fsd fsd fsd fs fgfs gfd gfd gd hdhg hdg dhg 
      sjkdfsjf f sdhf sdfhs dfsdfsdf sdfsd fsd fsfd sd fsd fsd fsd fs fgfs gfd gfd gd hdhg hdg dhg 
      sjkdfsjf f sdhf sdfhs dfsdfsdf sdfsd fsd fsfd sd fsd fsd fsd fs fgfs gfd gfd gd hdhg hdg dhg 
      v </p>
      <div class="mb-5" id="myimg" style="background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Krummi_1.jpg/768px-Krummi_1.jpg') top;  background-size: cover;"></div>

    </div>
    <div class="col-lg">
      <h3 class="mb-3"> Wrona </h3>

      <div class="mb-3" id="myimg" style="background: url('https://upload.wikimedia.org/wikipedia/commons/8/8d/Hooded_Crow_%28Corvus_cornix%29_%2811%29.jpg') top;  background-size: cover;"></div>
      <p></p>
      <div class="mb-3" id="myimg" style="background: url('https://d-art.ppstatic.pl/kadry/k/r/68/d8/60c06db0ed85e_o_large.jpg') top;  background-size: cover;"></div>
 
    </div>
  </div>
</div>