{% load i18n %}

<div class="container mt-4">
  <div class="row">
    <div class="col-xl">
      <h3 style="position: sticky; top: 0; z-index: 1;" class="mb-3"> 
        {% trans 'Sroki' %}
        {% if voted %}
          <small style="font-size: 18px; position: absolute; right: 0px; bottom: 2px;">{% trans 'polubienia' %}: {{birds.magpie}}</small>
        {% else %}
          <a onclick="showSection('like__magpie', false)" class="like"> ♥ </a>
        {% endif %}
      </h3>
      <div class="mb-3 myimg" style="position: sticky; top: -300px; background: url('https://optimise2.assets-servd.host/steadfast-tern/production/magpie_2023-03-05-092819_dmoz.jpg?w=1200&h=900&q=80&fm=webp&fit=crop&crop=focalpoint&fp-x=0.5&fp-y=0.5&dm=1678008499&s=6065f7aa610404ad0e6f8d6cde561da2') top;  background-size: cover;"></div>
      <p>
        <small>
        {% blocktrans trimmed %}Średni czas życia to 3,7 lat, waga około 200 g, rozpiętość skrzydeł to 52-60 cm. Jedyny gatunek spoza ssaków,
        który zdaje tzw. test lustra. Wszystkożerne z przewagą pożywienia pochodzenia zwierzęcego, 
        potrafą łowić owady w locie. Sroki jako jedyne znane w polsce ptaki potrafią budować gniazda z zadaszeniem, 
        wejście ma kształ koła, w ten sposób gniazda buduje około ćwierć par lęgowych.
        W kulturze srokę kojarzy się z gadatliwością, plotkarstwem i złodziejsctwem. W Polsce popularne powiedzenia to
        „Gapić się jak sroka w kość” czy „Wypaść sroce spod ogona”.
        Na zachodzie Europy srokę uważano za zły omen, zwiastun nieszczęścia, szczególnie gdy napotka się ją samą.{% endblocktrans %}
        </small>
      </p>
      <div class="mb-3 myimg"  style="background: url('https://st2.depositphotos.com/38045376/46719/i/600/depositphotos_467192050-stock-photo-horizontal-photo-of-a-eurasian.jpg') top;  background-size: cover;"></div>
      <div class="mb-5 myimg"  style="background: url('https://www.lyricbirdfood.com/media/1704/black-billed-magpie-kojihirano.jpg?crop=0,0.023333333333333327,0,0.1945238095238096&cropmode=percentage&width=700&height=365&rnd=132743519340000000') top;  background-size: cover;"></div>
    </div>
    <div class="col-xl">
      <h3 style="position: sticky; top: 0; z-index: 1;"  class="mb-3">
        {% trans 'Kruki' %} 
        {% if voted %}
          <small style="font-size: 18px; position: absolute; right: 0px; bottom: 2px;">{% trans 'polubienia' %}: {{birds.raven}}</small>
        {% else %}
          <a onclick="showSection('like__raven', false)" class="like"> ♥ </a>
        {% endif %}
      </h3>
      <div class="mb-3 myimg"  style="position: sticky; top: -300px; background: url('https://www.nps.gov/articles/000/images/Corvus-corax-NPS-Kent-Miller-Alaska.jpg?maxwidth=1300&autorotate=false&quality=78&format=webp') top;  background-size: cover;"></div>
      <p> 
        <small>
        {% blocktrans trimmed %}Żyją średnio 10-15 lat, ważą od 0,5 do 2 kg, rozpiętość skrzydeł kruka może sięgać 1,5 metra.
        Tworzą pary na całe życie, poza okresem lęgowym żyją w stadach, w których panuje określona hierarchia, jednak często w niej awansują. Np. samica znajdująca się na samym jej dole, po związaniu się z samcem z jej szczytu, automatycznie awansuje, co wiąże się z tym, że osobniki które niegdyś stały od niej wyżej m.in. ustępują jej miejsca przy padlinie, czego nie robiły wcześniej.
        Jedzą padlinę, owady i odpady spożywcze, a także ziarna zbóż, jagody, owoce.
        Zaciekle bronią swojego rewiru i odganiają z niego inne ptaki drapieżne. Nie wahają się czasem zaatakować nawet orła.
        W badaniach dowiedziono, że kruki umieją łączyć elementy zdobytej wcześniej wiedzy, by rozwiązać nowy problem.
        Na przestrzeni wieków ptaki te odgrywały znaczącą rolę w mitologii, folklorze, sztuce i literaturze, 
        w wielu przeszłych wierzeniach postrzegane pozytywnie, uznawane za symbol religijny lub boga (wykluczając z tego Chrześcijaństwo, w którym pełniły role negatywne).{% endblocktrans %}
        </small>
      </p>
      <div class="mb-5 myimg"  style="background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Krummi_1.jpg/768px-Krummi_1.jpg') top;  background-size: cover;"></div>

    </div>
    <div class="col-xl">
      <h3 style="position: sticky; top: 0; z-index: 1;"  class="mb-3"> 
        {% trans 'Wrony Siwe' %}
        {% if voted %}
          <small style="font-size: 18px; position: absolute; right: 0px; bottom: 2px;">{% trans 'polubienia' %}: {{birds.hooded_crow}}</small>
        {% else %}
          <a onclick="showSection('like__hooded_crow', false)" class="like"> ♥ </a>
        {% endif %}
      </h3>

      <div class="mb-3 myimg"  style="position: sticky; top: -300px; background: url('https://upload.wikimedia.org/wikipedia/commons/8/8d/Hooded_Crow_%28Corvus_cornix%29_%2811%29.jpg') top;  background-size: cover;"></div>
      <p>
        <small>
        {% blocktrans trimmed %}Typowy czas życia wrony siwej nie został jeszcze przez nikogo dokładnie zbadany, waży około 0,4 kg, rozpiętość skrzydeł sięga 100cm. 
        Wrona jest typowym przykładem powstania z jednego pierwotnego gatunku, pod wpływem ery lodowcowej, dwóch odmiennych form różniących się miejscami występowania, 
        ale nie trybem życia (podzielono je na 2 czarne i 4 siwe podgatunki). W polskiej świadomości wrona wyróżniła się
        po wydarzeniu awaryjnego lądowania samolotem pasażerskim przez kapitana Tadeusza Wronę, ktoś powiedział:
        "Lataj jak orzeł, ląduj jak Wrona" - było to potem szeroko powtarzane w mediach.{% endblocktrans %}
        </small>
      </p>
      <div class="mb-3 myimg" style="background: url('https://d-art.ppstatic.pl/kadry/k/r/68/d8/60c06db0ed85e_o_large.jpg') top;  background-size: cover;"></div>
 
    </div>
  </div>
  <p><small>{% trans 'źródła' %}: pl.wikipedia.org, en.wikipedia.org</small></p>
  <p class="mt-5 mb-5">
    <a onclick="showSection('trivia')" class="btn btn-lg btn-light fw-bold border-white bg-white">{% trans 'ciekawostki' %}</a>
  </p>
</div>