{% load i18n %}

<div class="container2 m-auto">
  <h1>{% trans 'Polityka Prywatności' %}</h1>
  <p class="mt-3"> 
    <p>{% trans ' Pliki cookies' %} </p>
    <small>{% blocktrans trimmed %}Niektóre elementy naszego serwisu mogą wykorzystywać cookies. Cookies to małe pliki tekstowe, które są wysyłane do komputera, tabletu lub telefonu Użytkownika, zapisywane na nim, a przy kolejnej wizycie Użytkownika na stronie są odczytywane przez nasz system informatyczny. Cookies pozwalają na zidentyfikowanie Użytkownika na potrzeby wykonania określonej operacji w serwisie. Cookies są wykorzystywane przez praktycznie każdą stronę internetową, ponieważ ułatwiają Użytkownikom korzystanie z serwisu oraz pozwalają administratorowi na używanie przydatnych narzędzi, na przykład służących do celów statystycznych.
    Przy pierwszej wizycie na stronie wyświetlamy Użytkownikom informację dotyczącą wykorzystywania plików cookies i pytamy o zgodę na ich stosowanie. Ustawienia cookies Użytkownik może zmienić w swojej przeglądarce. Może całkowicie z nich zrezygnować, ale musi mieć świadomość, że może to utrudnić korzystanie nie tylko z naszej, ale i z wielu innych stron internetowych.
    {% endblocktrans %}</small>
  </p>
</div>


