
<div class="container ">
  <div class="row">
    <div class="col-lg-7">
      <div class="mb-3" style="height: 700px; background: url('https://i.pinimg.com/originals/a0/1f/78/a01f78acf97a922d2998be83fc3d9395.jpg') top;  background-size: cover;"></div>
    </div>
    <div class="col-lg-5">
      <p> 
        Dokumentowane są przypadki kruków, które dożywają ponad 20 lat.
      </p>
      <p>
        Kruk przywoływany jest w kilku miejscach w Dziadach Adama Mickiewicza, w „Małej Improwizacji”, 
        gdy strzeże świata tajemnego przed nieprzygotowanym profanem: 
        „skrzydła ma czarne jak burzliwa chmura, a szerokie i długie na kształt tęczy łuku. I niebo całe zakrywa”.
      </p>
      <p> 
        W Irlandii wierzono, że pukanie sroki w okno ostrzega przed zbliżającą się śmiercią.
      </p>
      <p> 
        U Srok zaobserwowano rozbudowane rytuały międzyosobnicze, w tym m.in. coś, co można porównywać
        do obchodzenia żałoby po zmarłym osobniku.
      </p>
      
    </div>
  </div>
</div>

